<header class="animated blog-cover fadeIn" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}>
    <h1 class="blog-title">Today I Learned</h1>
    <h2 class="blog-description">{{@blog.description}}</h2>
</header>
